@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,600;1,800;1,900&family=Raleway&display=swap");

h1 {
  font-family: "Playfair Display", serif;
  font-family: Playfair Display;
  font-size: 231.645px;
  font-style: italic;
  font-weight: 900;
  line-height: 80%;
  letter-spacing: 4.633px;
  border: 3px solid white;
  background-color: red;
  -webkit-text-fill-color: transparent;
}
